// Font
$font: 'Lato', sans-serif;

// Size
$desktopWidth: 1470px;
$mainFontSize: 18px;
$mainFontWeight: 300;
$mainLineHeight: 1.4;

// Breakpoints
$screen-xl: 1200px;
$screen-lg: 992px;
$screen-md: 768px;
$screen-sm: 576px;
$screen-xs: 320px;

// Colors
$default-color: #ffffff;
$primary-color: #828282;
$product-color: #f2f2f2;
$light-color: #BDBDBD;
$active-color: #09ABE4;
$hover-color: #0096CB;
$bright-color: #282696;
$dark-color: #333333;
$border-color: rgba(130, 130, 130, 0.3);

